:root {
  --pop: #0054ef;
  --dark: #090F29;
  --black: #1A1A1A;
}

body {
  background-color: #090F29;
  color: white;
  font-family: "Open Sans";
  background-image: url("/images/back.png");
  backdrop-filter: brightness(0.1);
  position: absolute;
  width: 100%;
  height: 100%;
}

button {
  border: solid 2px var(--pop);
  border-radius: 6px;
  padding: 15px 25px;
  background: var(--pop);
  color: var(--dark);
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff00;
  color: var(--pop);
}

header {
  height: 30px;
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  width: -moz-available;
  width: -webkit-fill-available;
  position: fixed;
  margin-top: 10px;
}

logo {
  font-family: "DM Mono";
  font-size: 20pt;
  font-weight: bold;
  margin-left: 20px;
}

dot {
  font-size: 26pt;
  letter-spacing: -10px;
  line-height: 0;
  color: #0054ef;
}

itens {
  text-align: right;
  width: inherit;
}

.menuList {
  font-size: 16pt;
  padding: 10px 20px;
  font-weight: 650;
}

.menuList:hover {
  color: #0054ef;
  cursor: pointer;
}

.firstSection {
  height: inherit;
  display: flex;
  padding: 0 100px;
  align-items: center;
}

.board {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(1px);
  background: #090F296B;
  border-radius: 20px;
}

.first {
  padding: 30px;
  width: 510pt;
  height: fit-content;
}

.title, .title dot {
  font-size: 40pt;
  width: fit-content;
  margin: 0.1em 0;
  font-weight: bold;
}

.subtitle {
  font-size: 20pt;
  font-weight: bold;
  font-family: "DM Mono";
  color: var(--pop);
}

.description {
  margin-top: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}

.buttons {
  margin-bottom: 20px;
  gap: 20px;
}

.buttonInvert {
  background-color: #ffffff00;
  color: var(--pop);
}

.buttonInvert:hover {
  background-color: var(--pop);
  color: var(--dark);
}

.spaceRight {
  margin-right: 20px;
}

.pfp {
  width: 600px;
  border-radius: 50%;
  display: grid;
  margin: auto;
}